<header class="app-header" *ngIf="currentUser$ | async as user; else visitorLinks">
  <div class="brand">
    <span class="logo">FlatFinder</span>
    <span class="greeting">Hello - {{ user.firstName }} {{ user.lastName }}</span>
  </div>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/profile">My Profile</a>
    <a routerLink="/myflats">My Flats</a>
    <a routerLink="/favourites">Favourites</a>
    <a *ngIf="user.isAdmin" routerLink="/users">All Users</a>
    <button type="button" (click)="logout()">Logout</button>
    <button type="button" (click)="deleteAccount()">Delete Account</button>
  </nav>
</header>

<ng-template #visitorLinks>
  <nav>
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </nav>
</ng-template>

<hr />

<router-outlet></router-outlet>
